/*
Author: Able Sense Media
Web: ablesense.com
Date of creation: 2014/01/01
*/

@import 'normalize.less';
@import 'mixins-2014.less';

//////////////////////////////////////////////////////////////////////////////////////////////
/////////////////// CONFIG ///////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////

//Shades
@white: #FFF;
@lightgrey: #f0f0f0;
@grey: #999;
@darkgrey: #333;
@black: #000;

//text color
@text: #555; //text

//theme colors
@primary: #F00;
@secondary: #0F0;
@tertiary: #00F;

//selection color
@select: @primary;

@sans: Arial, Tahoma, sans-serif;
@serif: Georgia, serif;

//////////////////////////////////////////////////////////////////////////////////////////////
/////////////////// GENERAL //////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////

::-moz-selection, ::selection { background: @select; color: #fff; text-shadow: none; }

html, body { height: 100%; }

body                          { font-family: @serif; font-size: 100%; line-height: 1.5; color: @text; font-weight: 400; }

a{
	color: @primary;
	&:visited { color: @grey; }
	&:hover, &:focus { text-decoration: none; }
	&:active { color: darken(@primary, 10%); }
}

h1                            { font-size: 2em; }
h2                            { font-size: 1.5em; }
h3                            { font-size: 1.25em; }
h4                            { font-size: 1em; text-transform: uppercase; }
h5                            { font-size: 1em; text-transform: uppercase; }
h6                            { font-size: 1em; }
h1, h2, h3, h4, h5, h6        { clear: left; margin: 1em 0 0.25em 0; line-height: 1.125; font-weight: 500; }
h1 + h2, h2 + h3, h3+ h4, h4 + h5, h5 + h6, h1:first-child { margin-top: 0; }

abbr, small,
dl, dialog, caption           { font-size: 0.75em; }
ul, ol                        { margin: 1em 0; padding-left: 2em; }
li ul, li ol                  { margin: 0; padding-left: 1em;}

p                             { word-spacing: 0; margin-bottom: 1em; }
p+p                           { text-indent: 0; }
pre                           { }
ul, ol, dl, dialog            { margin-top: 0; }

figure{
	margin: 2em 0 3em;

	&.with-caption{

	}

	figcaption{
		padding: 0.35em 0;
		font-size: 0.875em;
		font-style: italic;
		text-align: center;
		color: @grey;
	}

	img{
		display: block;
		margin: 0 auto;
	}
}

figure.quote{
	padding: 0 1em;
	margin: 2em 0;

	blockquote{
		font-size: 1.25em;
		font-style: italic;
		color: @darkgrey;
		margin: 0;

		&:before, &:after, p{
			display: inline;
		}

		&:before{
			content: '“';
		}

		&:after{
			content: '”';
		}
	}

	figcaption{
		font-size: 0.875em;
		color: @grey;
		text-align: left;
	}
}

img{
	max-width: 100%;
	height: auto;
}

table                         { width: 100%; margin-bottom: 1em; }
th, td                        { border-top: solid 1px @lightgrey; padding: 0.25em 0.25em 0; vertical-align: top; }
tr:nth-child(odd) td          { background: lighten(@lightgrey, 4%); }
th                            { font-size: 0.875em; border-top: 0; border-bottom: solid 1px darken(@lightgrey, 10%); text-align: center; color: @black; background: @lightgrey; }
td                            { text-align: center; }
tbody th                      { text-align: left; }

iframe                        { border: 0; }

form                          { overflow: visible; }
fieldset                      { margin-bottom: 1em; }
legend                        { padding: 0 0.5em; font-size: 0.75em; }
label                         { line-height: 1; display: inline-block; width: 100%; }
input, select, textarea {
	.box-sizing(border-box);
	max-width: 100%;
	margin-bottom: 0.5em;
	line-height: 1;

	&:focus{
		outline: solid 1px @primary;
	}
}

input[type="text"],
input[type="password"],
input[type="select"],
input[type="search"],
input[type="url"],
input[type="tel"],
input[type="email"],
input[type="date"],
input[type="datetime"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="number"],
input[type="range"],
input[type="color"]           { padding: 0.5em 0.5em 0.25em; border: solid 1px @grey; }

input[type="radio"],
input[type="checkbox"]        { vertical-align: top; margin: 0.25em 0.5em 0 0; }

input[type="file"]            { max-width: 16em; overflow: hidden; }


input[type="submit"],
input[type="reset"],
input[type="button"],
button {
	padding: 0.5em 2em 0.25em;
	background: @lightgrey;
	border: solid 1px @lightgrey;
	color: @darkgrey;
	.box-sizing(border-box);

	&:hover, &.focus{
		color: @white;
		background: @darkgrey;
	}

	&:active{
		.box-shadow(inset 0 0 5px 0 rgba(0, 0, 0, 0.75));
	}
}

textarea                      { overflow: auto; line-height: 1.5;}

/////////////////// Utilities ////////////////////////////////////////////////////////////////////

.preserve-ar{
	position: relative;
	padding: 30px 0 56.25%;
	height: 0;
	overflow: hidden;

	iframe, object, embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.hidden{
	visibility: hidden;
	display: none;
}

a[href^="tel:"]{
	color: @text;
	text-decoration: none;
	cursor: default;
}

strong.highlighted{
	color: @secondary;
}

//////////////////////////////////////////////////////////////////////////////////////////////
/////////////////// FLUID ////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////

header > div, footer > div, main{
	// width: 94%;
	// margin: 0 auto;
}

header {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 100;

	nav {
		button {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			&#next {
				right: 0;
			}
		}

		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);

			li {
				display: inline;
			}
		}
	}
}

main {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		width: inherit;
		height: inherit;

		li {
			position: absolute;
			top: 0;
			left: 0;
			width: inherit;
			height: inherit;
			background: url(/img/gal1.jpg) center center no-repeat;
			background-size: cover;
			transform: translateX(100%);
			transition: transform .3s;
			will-change: transform;
			font-size: 36px;
			color: red;


			&.active {
				& {
					transform: translateX(0);
				}
			}

			&:nth-child(even) {
				background-image: url(/img/gal2.jpg);
			}

			&:nth-child(3n) {
				background-image: url(/img/gal3.jpg);
			}
		}
	}
}

//////////////////////////////////////////////////////////////////////////////////////////////
/////////////////// TABLETS //////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////

@media only screen and (min-width : 480px) {
	header > div, footer > div, main{
		// width: 96%;
	}
}


//////////////////////////////////////////////////////////////////////////////////////////////
/////////////////// DESKTOP //////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////

@media only screen and (min-width : 768px) {
	h1 { font-size: 3.25em; }
	h2 { font-size: 2.5em; }
	h3 { font-size: 2em; }
	h4 { font-size: 1.5em; }
	h5 { font-size: 1em; }
	h6 { font-size: 1em; }

	figure.quote{
		blockquote{
			font-size: 1.25em;
		}
	}

	header > div, footer > div, main{

	}
}


//////////////////////////////////////////////////////////////////////////////////////////////
/////////////////// LUXURY ///////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////


@media only screen and (min-width: 1280px) {
	header > div, footer > div, header + div{
		// width: 70em;
		padding: 0;
		background: blue;
	}
}

//////////////////////////////////////////////////////////////////////////////////////////////
/////////////////// PRINT ////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////

@media print {
	* { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
	a, a:visited { text-decoration: underline; }
	a[href]:after { content: " (" attr(href) ")"; }
	abbr[title]:after { content: " (" attr(title) ")"; }
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
	thead { display: table-header-group; } /* h5bp.com/t */
	tr, img { page-break-inside: avoid; }
	img { max-width: 100% !important; }
	@page { margin: 0.5cm; }
	p, h2, h3 { orphans: 3; widows: 3; }
	h2, h3 { page-break-after: avoid; }
	header, footer, aside { display: none; visibility: hidden; }
}